<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost/pmt</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="show_sql">true</property>

		<property name="format_sql">true</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<property name="current_session_context_class">thread</property>

		<mapping class="org.hisp.pmt.api.organisation.Organisation" />
		<mapping class="org.hisp.pmt.api.organisation.Attachment" />
		<mapping class="org.hisp.pmt.api.organisation.Office" />
		<mapping class="org.hisp.pmt.api.organisation.ProjectInvestment" />
		
		<mapping class="org.hisp.pmt.api.client.Client" />
		
		<mapping class="org.hisp.pmt.api.user.Message" />
		<mapping class="org.hisp.pmt.api.user.MessageGroup" />
		<mapping class="org.hisp.pmt.api.user.Payment" />
		<mapping class="org.hisp.pmt.api.user.User" />
		<mapping class="org.hisp.pmt.api.user.UserAuthority" />
		<mapping class="org.hisp.pmt.api.user.UserCredential" />
		<mapping class="org.hisp.pmt.api.user.UserRole" />
		
		<mapping class="org.hisp.pmt.api.project.Activity" />
		<mapping class="org.hisp.pmt.api.project.Invoice" />
		<mapping class="org.hisp.pmt.api.project.Member" />
		<mapping class="org.hisp.pmt.api.project.Milestone" />
		<mapping class="org.hisp.pmt.api.project.MileStoneHistory" />
		<mapping class="org.hisp.pmt.api.project.Project" />
	</session-factory>
</hibernate-configuration>